@media(max-width:768px){
    .header_block{
        
        .menu{
            padding: 0px 20px 0px 0px;
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 30px;
                letter-spacing: 0.56px;
                color: #141414;
                text-decoration: none;
            }
        }
        .site_name{
            padding: 15px 0px 0px 20px;
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 21px;
                letter-spacing: 0.56px;
                color: #141414;
                text-decoration: none;
            }
        }
    }
}